/* Main colors, formatting and styling repeated throughtout website */
:root {
    --dark-colour: #001F02;
    --green: #52A36D;
    --light-colour: #FFFFFC;
    --yellow: #DC9118;
    --link-colour: #69db61;
    --contrast-colour: #ff5cb0;
    --heading-font-family: 'Josefin Sans', sans-serif;
    --body-font-family: 'Quicksand', sans-serif;
}

/* Highlight color and background */
::selection {
    background-color: var(--contrast-colour);
    color: var(--dark-colour);
}

/* Body element selector */
body {
    background-color: var(--light-colour);
}

/* Header element styling */
header {
    font-family: var(--heading-font-family)
}

/* H1 selector and styling */
h1 {
    font-size: 45px;
    margin-bottom: 0;
    width: 50%;
}

/* Navigation element in header styling */
.nav-bar-colours {
    background-color: var(--dark-colour);
    color: var(--light-colour);
}

.nav-link-color {
    color: var(--light-colour);
}

.nav-link-color:hover {
    color: var(--link-colour);
}

.navbar-separate-styling {
    position: absolute;
    right: 10px;
    font-size: 20px;
}

.nav-bar-padding {
    padding: 30px;
}

button {
    color: var(--light-colour);
}

button:hover {
    color: var(--link-colour);
}

/* Left border styling */
.left-border {
    border-left: 5px solid var(--dark-colour);
    padding-left: 65px;
}

.top-margin {
    margin-top: 10px;
}

/* Figure and hero image element selector and styling */
figure #hero {
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Main content styling */
main {
    margin-top: 10px;
}

p {
    font-family: var(--body-font-family);
    color: var(--dark-colour);
    font-size: 18px;
    margin-bottom: 1.5rem;
    line-height: 20px;
}

h2 {
    color: var(--yellow);
    font-family: var(--heading-font-family);
    font-size: 40px;
    margin-bottom: 1.5rem;
}

section {
    margin-top: 20px;
}

/* Main-box margin */
.main-box {
    margin: 10px;
}

/* Margins around the main box titles */
.main-box-title {
    margin-left: 40px;
}

/* About me styling */
#about-me-row {
    margin-left: 10px;
    margin-right: 10px;
}

/* About me image styling */
.img-styling {
    width: 50%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 30%;
    border: 5px solid var(--dark-colour);
    margin-bottom: 10px;
}

/* My work styling */
#my-work-row-1 {
    margin: 0;
}

#my-work-row-2 {
    margin: 0;
    margin-top: 10px;
}

/* Feature work styling */
.feature-work img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: 10px solid var(--dark-colour);
}

.feature-work .my-work-title {
    color: var(--light-colour);
    font-family: var(--heading-font-family);
    padding: 20px;
    background-color: var(--dark-colour);
    font-size: 20px;
}

.feature-work .my-work-title p {
    font-size: 16px;
    color: var(--light-colour);
    font-family: var(--body-font-family);
    margin-bottom: 0;
}

.feature-work .my-work-title a {
    color: var(--light-colour);
    text-decoration: underline;
}

.feature-work .my-work-title a:hover {
    color: var(--link-colour);
    text-decoration: none;
}

/* Other portfolio work styling */
.my-work-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border: 10px solid var(--dark-colour);
}

.portfolio-title {
    color: var(--light-colour);
    font-family: var(--heading-font-family);
    padding: 20px;
    background-color: var(--dark-colour);
    font-size: 20px;
}

.portfolio-title p {
    font-size: 16px;
    color: var(--light-colour);
    font-family: var(--body-font-family);
    margin-bottom: 0;
}

.portfolio-title a {
    color: var(--light-colour);
    text-decoration: underline;
}

.portfolio-title a:hover {
    color: var(--link-colour);
    text-decoration: none;
}

/* Contact me section styling */
#contact-me-row {
    align-items: center;
    margin: 0;    
}

.contact-me-details {
    font-size: 18px;
    font-weight: bolder;
}

.contact-me-details a {
    color: var(--dark-colour);
    font-weight: normal;
}

.contact-me-details a:hover {
    text-decoration: none;
}

.paragraph-box .contact-me-details {
    display: flex;
    flex-wrap: wrap;
}

.paragraph-box .contact-me-details li {
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: var(--dark-colour);
    line-height: 1.5em;
}


/* Footer styling */
footer p {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    background-color: var(--light-colour);
    color: var(--dark-colour);
}

/* Media queries for responsive web application - tablet */
@media screen and (max-width: 992px) {
    h1 {
        width: 60%;
    }

    .navbar-separate-styling {
        position: initial;
        right: auto;
    }

    .paragraph-box {
        position: static;
        margin-left: var(--body-margin);
        margin-right: 75px;
    }

    .paragraph-box img {
        width: 100%;
    }
}

/* Media queries for responsive web application for a large smartphones */
@media screen and (max-width: 768px) {
    h1 {
        width: 60%;
    }

    .img-styling {
        width: 100%;
    }

    .main-box-title {
        margin-left: auto;
    }

    .navbar-separate-styling {
        position: initial;
        right: auto;
    }
}